@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.main {
  padding: 1rem;
}

h3 {
  font-size: x-large;
}

p {
  font-size: large;
}

.navbar {
  padding: 1rem 2rem;
  background-color: cadetblue;
  color: azure;
  font-size: x-large;
}

td,
th {
  border: solid rgb(26, 26, 26) 2px;
}